@model PGPARS.Models.Applicant
<body>
    <div class="main">
        <div class="container-opaque">
            <div class="text-center text-outline p-3">
                <h2>@Model.FullName</h2>
            </div>
        </div>
        <br />
        <div class="d-flex justify-content-between align-items-center">
            <a asp-action="EditApplicant" asp-controller="Applicant" asp-route-Nnumber="@Model.Nnumber">
                <button type="submit" class="btn btn-secondary btn-lg" style="border: 2px solid black">
                    <div class="bi bi-pencil">&ensp;Edit</div>
                </button>
            </a>
            <form asp-action="DeleteApplicant" asp-controller="Applicant" asp-route-Nnumber="@Model.Nnumber" method="post" class="d-inline-block"
                onsubmit="return confirm('Are you sure you want to delete this applicant?');">
                <button type="submit" class="btn btn-danger btn-lg" style="border: 2px solid black">
                    <div class="bi bi-trash">&ensp;Delete</div>
                </button>
            </form>
        </div>

        <!--PERSONAL INFO-->
        <!--<div class="text-center text-outline p-3">
            Status: @Model.Status<br />
            <strong>(////////Status Bar////////)</strong>
        </div>-->
        <div class="text-center text-outline p-3">
            <h2>Personal Information</h2>
        </div>
        <div class="table-responsive shadow-sm rounded">
            <table class="table align-middle text-dark">
                <thead class="text-uppercase">
                    <tr>
                        <th>N-Number</th>
                        <th>Email</th>
                        <th>Status</th>
                        <th>Phone</th>
                        <th>Advisor Email</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="text-center">@Model.Nnumber</td>
                        <td class="text-center">@Model.email</td>
                        <td class="text-center">@Model.Status</td>
                        <td class="text-center">@Model.Phone</td>
                        <td class="text-center">@Model.AdvisorEmail</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <!--COURSE INFO-->
        <div class="text-center text-outline p-3">
            <h2>Course Information</h2>
        </div>
        <div class="table-responsive shadow-sm rounded">
            <table class="table align-middle text-dark">
                <thead class="text-uppercase">
                    <tr>
                        <th>GPA Overall</th>
                        <th>GPA Psychology</th>

                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="text-center">~@Model.GPAOverall</td>
                        <td class="text-center">~@Model.GPAPsych</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="table-responsive shadow-sm rounded">
            <table class="table align-middle text-dark">
                <thead class="text-uppercase">
                    <tr>
                        <th>Required Courses Completed</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="text-center">~@Model.Course_Req_Met</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!--<strong>GPA Comments:</strong><br />@Model.GPAComment-->
        <!--<strong>Courses Completed Comments:</strong><br />@Model.CrsReqComment-->

        <!--REVIEW INFO-->
        <div class="text-center text-outline p-3">
            <h2>Review Information</h2>
        </div>
        <div class="table-responsive shadow-sm rounded">
            <table class="table align-middle text-dark">
                <thead class="text-uppercase">
                    <tr>
                        <th>Reviewer 1</th>
                        <th>Reviewer 2</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="text-center">~@Model.Reviewer1</td>
                        <td class="text-center">~@Model.Reviewer2</td>
                    </tr>
                    <tr>
                        <td class="text-center">Decision: @Model.Rev1Decision</td>
                        <td class="text-center">Decision: @Model.Rev2Decision</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="table-responsive shadow-sm rounded">
            <table class="table align-middle text-dark">
                <thead class="text-uppercase">
                    <tr>
                        <th>Final Decision</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="text-center">~@Model.RevAgree</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!--
        
                
                        <tr>
                            <td><strong>Committee Review: </strong>@Model.CommitteeReview</td>
                            <td><strong>@Model.CommitteeReview</strong></td>
                        </tr>
                        <tr>
                            <td><strong>Mentor 1: </strong>@Model.Mentor1</td>
                            <td><strong>@Model.Mentor1</strong></td>
                        </tr>
                        <tr>
                            <td><strong>Mentor 2: </strong>@Model.Mentor2</td>
                            <td><strong>@Model.Mentor2</strong></td>
                        </tr>
                        <tr>
                            <td><strong>Mentor 3: </strong>@Model.Mentor3</td>
                            <td><strong>@Model.Mentor3</strong></td>
                        </tr>
                        <tr>
                            <td><strong>Mentor Selected: </strong>@Model.SelectMentor</td>
                            <td><strong>@Model.SelectMentor</strong></td>
                        </tr>
                    </table>
            </div>
            <div class="applicationInfo">
                <strong style="font-size: 25px">Application Information</strong>
                <table class="table" style="background-color: rgb(13, 33, 95, 0.7);">
                        <tr>
                            <td><strong>Application Submission Date: </strong>@Model.AppSubmitDate</td>
                        <td><strong>Letter of Recommendation Quality: </strong>@Model.LORQuality</td>
                        </tr>
                        <tr>
                            <td><strong>Letter Quality: </strong>@Model.LetterQuality</td>
                        <td><strong>Letter of Recommendation Relevance: </strong>@Model.LORRelevance</td>
                        </tr>
                        <tr>
                            <td><strong>Letter Comments: </strong><br />@Model.LetterComment</td>
                        <td><strong>Letter of Recommendation Comments: </strong><br />@Model.LORComment</td>
                        </tr>
                        <tr>
                            <td><strong>Resume Quality: </strong>@Model.ResumeQuality</td>
                        <td><strong>Overall Fit Quality:</strong>@Model.OverallFitQuality</td>
                        </tr>
                        <tr>
                            <td><strong>Resume Experience Quality: </strong>@Model.ResExpQuality</td>
                        <td><strong>Overall Fit Comments:</strong><br />@Model.OverallFitComments</td>
                        </tr>
                        <tr>
                            <td><strong>Resume Comments: </strong><br />@Model.ResumeComment</td>
                        <td><strong>Decision to Recommend: </strong>@Model.DecRec</td>
                        </tr>
                        <tr>
                            <td><strong>Writing Sample Quality: </strong>@Model.WritSampQuality</td>
                        <td><strong>Follow Up: </strong>@Model.FollowUp</td>
                        </tr>
                        <tr>
                            <td><strong>Writing Sample Comments: </strong><br />@Model.WritSampComment</td>
                        <td><strong>Final Comments: </strong><br />@Model.FinalComments</td>
                        </tr>
                    </table>
            </div>
        </div>-->
    </div>
</body>