@model IEnumerable<PGPARS.Models.Applicant>
<div class="main">
    <div class="container-opaque">
        <div class="text-center p-3">
            Applicant Directory
        </div>
    </div>
    <!-- Search Form -->
    <div class="container-opaque">
        <form method="get" asp-action="StudentDirectory">
            <div class="form-group">
                <input type="text" name="searchString" class="form-control" placeholder="Search by name..." value="@ViewData["SearchString"]" />
            </div>
            <button type="submit" class="btn btn-primary">Search</button>
        </form>
    </div>
    <div class="container-opaque">
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Full Name</th>
                    <th>Gender</th>
                    <th>Approved Status</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var applicant in Model)
                {
                    <tr>
                        <td>@applicant.Nnumber</td>
                        <td>@applicant.FullName</td>
                        <td>@applicant.Sex</td>
                        <td>@applicant.Status</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>